.heart{
    width:17rem;
    height:14rem;
    top:50%;
    left: 50%;
    transform:translate(-50% ,-50%);
    position: absolute;
    /* background-color:red; */
}

.pixel{
    width: 1rem;
    height: 1rem;
    box-shadow: 
    0rem 0rem 0 -0.05rem #fff,
    1rem 0rem 0 -0.05rem #fff,
    2rem 0rem 0 -0.05rem #fff,
    3rem 0rem 0 -0.05rem #222,
    4rem 0rem 0 -0.05rem #222,
    5rem 0rem 0 -0.05rem #222,
    6rem 0rem 0 -0.05rem #222,
    7rem 0rem 0 -0.05rem #fff,
    8rem 0rem 0 -0.05rem #fff,
    9rem 0rem 0 -0.05rem #fff,
    10rem 0rem 0 -0.05rem #222,
    11rem 0rem 0 -0.05rem #222,
    12rem 0rem 0 -0.05rem #222,
    13rem 0rem 0 -0.05rem #222,
    14rem 0rem 0 -0.05rem #fff,
    15rem 0rem 0 -0.05rem #fff,
    
    1rem 1rem 0 -0.05rem #fff,
    2rem 1rem 0 -0.05rem #222,
    3rem 1rem 0 -0.05rem pink,
    4rem 1rem 0 -0.05rem pink,
    5rem 1rem 0 -0.05rem pink,
    6rem 1rem 0 -0.05rem pink,
    7rem 1rem 0 -0.05rem #222,
    8rem 1rem 0 -0.05rem #fff,
    9rem 1rem 0 -0.05rem #222,
    10rem 1rem 0 -0.05rem pink,
    11rem 1rem 0 -0.05rem pink,
    12rem 1rem 0 -0.05rem pink,
    13rem 1rem 0 -0.05rem pink,
    14rem 1rem 0 -0.05rem #222,
    15rem 1rem 0 -0.05rem #fff,

    1rem 2rem 0 -0.05rem #222, 
    2rem 2rem 0 -0.05rem pink,
    3rem 2rem 0 -0.05rem pink,
    4rem 2rem 0 -0.05rem rgb(230, 212, 219),
    5rem 2rem 0 -0.05rem rgb(230, 212, 219),
    6rem 2rem 0 -0.05rem pink,
    7rem 2rem 0 -0.05rem pink,
    8rem 2rem 0 -0.05rem #222,
    9rem 2rem 0 -0.05rem pink,
    10rem 2rem 0 -0.05rem pink,
    11rem 2rem 0 -0.05rem pink,
    12rem 2rem 0 -0.05rem pink,
    13rem 2rem 0 -0.05rem pink,
    14rem 2rem 0 -0.05rem pink,
    15rem 2rem 0 -0.05rem #222,

    1rem 3rem 0 -0.05rem #222, 
    2rem 3rem 0 -0.05rem pink,
    3rem 3rem 0 -0.05rem rgb(230, 212, 219),
    4rem 3rem 0 -0.05rem rgb(230, 212, 219),
    5rem 3rem 0 -0.05rem pink,
    6rem 3rem 0 -0.05rem pink,
    7rem 3rem 0 -0.05rem pink,
    8rem 3rem 0 -0.05rem pink,
    9rem 3rem 0 -0.05rem pink,
    10rem 3rem 0 -0.05rem pink,
    11rem 3rem 0 -0.05rem pink,
    12rem 3rem 0 -0.05rem pink,
    13rem 3rem 0 -0.05rem pink,
    14rem 3rem 0 -0.05rem pink,
    15rem 3rem 0 -0.05rem #222,

    1rem 4rem 0 -0.05rem #222, 
    2rem 4rem 0 -0.05rem pink,
    3rem 4rem 0 -0.05rem rgb(230, 212, 219),
    4rem 4rem 0 -0.05rem pink,
    5rem 4rem 0 -0.05rem pink,
    6rem 4rem 0 -0.05rem pink,
    7rem 4rem 0 -0.05rem pink,
    8rem 4rem 0 -0.05rem pink,
    9rem 4rem 0 -0.05rem pink,
    10rem 4rem 0 -0.05rem pink,
    11rem 4rem 0 -0.05rem pink,
    12rem 4rem 0 -0.05rem pink,
    13rem 4rem 0 -0.05rem pink,
    14rem 4rem 0 -0.05rem pink,
    15rem 4rem 0 -0.05rem #222,

    1rem 5rem 0 -0.05rem #222, 
    2rem 5rem 0 -0.05rem pink,
    3rem 5rem 0 -0.05rem pink,
    4rem 5rem 0 -0.05rem pink,
    5rem 5rem 0 -0.05rem pink,
    6rem 5rem 0 -0.05rem pink,
    7rem 5rem 0 -0.05rem pink,
    8rem 5rem 0 -0.05rem pink,
    9rem 5rem 0 -0.05rem pink,
    10rem 5rem 0 -0.05rem pink,
    11rem 5rem 0 -0.05rem pink,
    12rem 5rem 0 -0.05rem pink,
    13rem 5rem 0 -0.05rem pink,
    14rem 5rem 0 -0.05rem pink,
    15rem 5rem 0 -0.05rem #222,

    1rem 6rem 0 -0.05rem #222, 
    2rem 6rem 0 -0.05rem pink,
    3rem 6rem 0 -0.05rem pink,
    4rem 6rem 0 -0.05rem pink,
    5rem 6rem 0 -0.05rem pink,
    6rem 6rem 0 -0.05rem pink,
    7rem 6rem 0 -0.05rem pink,
    8rem 6rem 0 -0.05rem pink,
    9rem 6rem 0 -0.05rem pink,
    10rem 6rem 0 -0.05rem pink,
    11rem 6rem 0 -0.05rem pink,
    12rem 6rem 0 -0.05rem pink,
    13rem 6rem 0 -0.05rem pink,
    14rem 6rem 0 -0.05rem pink,
    15rem 6rem 0 -0.05rem #222,

    1rem 7rem 0 -0.05rem #fff, 
    2rem 7rem 0 -0.05rem #222,
    3rem 7rem 0 -0.05rem pink,
    4rem 7rem 0 -0.05rem pink,
    5rem 7rem 0 -0.05rem pink,
    6rem 7rem 0 -0.05rem pink,
    7rem 7rem 0 -0.05rem pink,
    8rem 7rem 0 -0.05rem pink,
    9rem 7rem 0 -0.05rem pink,
    10rem 7rem 0 -0.05rem pink,
    11rem 7rem 0 -0.05rem pink,
    12rem 7rem 0 -0.05rem pink,
    13rem 7rem 0 -0.05rem pink,
    14rem 7rem 0 -0.05rem #222,
    15rem 7rem 0 -0.05rem #fff,

    1rem 8rem 0 -0.05rem #fff, 
    2rem 8rem 0 -0.05rem #fff,
    3rem 8rem 0 -0.05rem #222,
    4rem 8rem 0 -0.05rem pink,
    5rem 8rem 0 -0.05rem pink,
    6rem 8rem 0 -0.05rem pink,
    7rem 8rem 0 -0.05rem pink,
    8rem 8rem 0 -0.05rem pink,
    9rem 8rem 0 -0.05rem pink,
    10rem 8rem 0 -0.05rem pink,
    11rem 8rem 0 -0.05rem pink,
    12rem 8rem 0 -0.05rem pink,
    13rem 8rem 0 -0.05rem #222,
    14rem 8rem 0 -0.05rem #fff,
    15rem 8rem 0 -0.05rem #fff,

    1rem 9rem 0 -0.05rem #fff, 
    2rem 9rem 0 -0.05rem #fff,
    3rem 9rem 0 -0.05rem #fff,
    4rem 9rem 0 -0.05rem #222,
    5rem 9rem 0 -0.05rem pink,
    6rem 9rem 0 -0.05rem pink,
    7rem 9rem 0 -0.05rem pink,
    8rem 9rem 0 -0.05rem pink,
    9rem 9rem 0 -0.05rem pink,
    10rem 9rem 0 -0.05rem pink,
    11rem 9rem 0 -0.05rem pink,
    12rem 9rem 0 -0.05rem #222,
    13rem 9rem 0 -0.05rem #fff,
    14rem 9rem 0 -0.05rem #fff,
    15rem 9rem 0 -0.05rem #fff,

    1rem 10rem 0 -0.05rem #fff, 
    2rem 10rem 0 -0.05rem #fff,
    3rem 10rem 0 -0.05rem #fff,
    4rem 10rem 0 -0.05rem #fff,
    5rem 10rem 0 -0.05rem #222,
    6rem 10rem 0 -0.05rem pink,
    7rem 10rem 0 -0.05rem pink,
    8rem 10rem 0 -0.05rem pink,
    9rem 10rem 0 -0.05rem pink,
    10rem 10rem 0 -0.05rem pink,
    11rem 10rem 0 -0.05rem #222,
    12rem 10rem 0 -0.05rem #fff,
    13rem 10rem 0 -0.05rem #fff,
    14rem 10rem 0 -0.05rem #fff,
    15rem 10rem 0 -0.05rem #fff,

    1rem 11rem 0 -0.05rem #fff, 
    2rem 11rem 0 -0.05rem #fff,
    3rem 11rem 0 -0.05rem #fff,
    4rem 11rem 0 -0.05rem #fff,
    5rem 11rem 0 -0.05rem #fff,
    6rem 11rem 0 -0.05rem #222,
    7rem 11rem 0 -0.05rem pink,
    8rem 11rem 0 -0.05rem pink,
    9rem 11rem 0 -0.05rem pink,
    10rem 11rem 0 -0.05rem #222,
    11rem 11rem 0 -0.05rem #fff,
    12rem 11rem 0 -0.05rem #fff,
    13rem 11rem 0 -0.05rem #fff,
    14rem 11rem 0 -0.05rem #fff,
    15rem 11rem 0 -0.05rem #fff,

    1rem 12rem 0 -0.05rem #fff, 
    2rem 12rem 0 -0.05rem #fff,
    3rem 12rem 0 -0.05rem #fff,
    4rem 12rem 0 -0.05rem #fff,
    5rem 12rem 0 -0.05rem #fff,
    6rem 12rem 0 -0.05rem #fff,
    7rem 12rem 0 -0.05rem #222,
    8rem 12rem 0 -0.05rem pink,
    9rem 12rem 0 -0.05rem #222,
    10rem 12rem 0 -0.05rem #fff,
    11rem 12rem 0 -0.05rem #fff,
    12rem 12rem 0 -0.05rem #fff,
    13rem 12rem 0 -0.05rem #fff,
    14rem 12rem 0 -0.05rem #fff,
    15rem 12rem 0 -0.05rem #fff,

    1rem 13rem 0 -0.05rem #fff, 
    2rem 13rem 0 -0.05rem #fff,
    3rem 13rem 0 -0.05rem #fff,
    4rem 13rem 0 -0.05rem #fff,
    5rem 13rem 0 -0.05rem #fff,
    6rem 13rem 0 -0.05rem #fff,
    7rem 13rem 0 -0.05rem #fff,
    8rem 13rem 0 -0.05rem #222,
    9rem 13rem 0 -0.05rem #fff,
    10rem 13rem 0 -0.05rem #fff,
    11rem 13rem 0 -0.05rem #fff,
    12rem 13rem 0 -0.05rem #fff,
    13rem 13rem 0 -0.05rem #fff,
    14rem 13rem 0 -0.05rem #fff,
    15rem 13rem 0 -0.05rem #fff
    ;
}
