body{
  animation-name: back-grad;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes back-grad {
  from {
    background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
  to {
    background: rgb(238,174,202);
background: linear-gradient(270deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
}

.hello-kitty{
    width:28rem;
    height:30rem;
    top:50%;
    left: 50%;
    transform:translate(-50% ,-50%);
    position: absolute;
}

.pixel{
    width: 1rem;
    height: 1rem;
    box-shadow: 
      /* row1 */
      15rem 1rem 0 -0.02rem #000,
      16rem 1rem 0 -0.02rem #000,
      17rem 1rem 0 -0.02rem #000,
      20rem 1rem 0 -0.02rem #000,
      21rem 1rem 0 -0.02rem #000,
      22rem 1rem 0 -0.02rem #000,
      
      /* row2 */
      4rem 2rem 0 -0.02rem #000,
      5rem 2rem 0 -0.02rem #000,
      6rem 2rem 0 -0.02rem #000,
      7rem 2rem 0 -0.02rem #000,
      14rem 2rem 0 -0.02rem #000,
      15rem 2rem 0 -0.02rem pink,
      16rem 2rem 0 -0.02rem pink,
      17rem 2rem 0 -0.02rem pink,
      18rem 2rem 0 -0.02rem #000,
      19rem 2rem 0 -0.02rem #000,
      20rem 2rem 0 -0.02rem #fff,
      21rem 2rem 0 -0.02rem #fff,
      22rem 2rem 0 -0.02rem #fff,
      23rem 2rem 0 -0.02rem #000,
      
      /* row3 */
      3rem 3rem 0 -0.02rem #000,
      4rem 3rem 0 -0.02rem #fff,
      5rem 3rem 0 -0.02rem #fff,
      6rem 3rem 0 -0.02rem #fff,
      7rem 3rem 0 -0.02rem #fff,
      8rem 3rem 0 -0.02rem #000,
      9rem 3rem 0 -0.02rem #000,
      14rem 3rem 0 -0.02rem #000,
      15rem 3rem 0 -0.02rem pink,
      16rem 3rem 0 -0.02rem pink,
      17rem 3rem 0 -0.02rem pink,
      18rem 3rem 0 -0.02rem #000,
      19rem 3rem 0 -0.02rem #000,
      20rem 3rem 0 -0.02rem #000,
      21rem 3rem 0 -0.02rem #000,
      22rem 3rem 0 -0.02rem #000,
      23rem 3rem 0 -0.02rem #000,
      
      /* row4 */
      3rem 4rem 0 -0.02rem #000,
      4rem 4rem 0 -0.02rem #fff,
      5rem 4rem 0 -0.02rem #fff,
      6rem 4rem 0 -0.02rem #fff,
      7rem 4rem 0 -0.02rem #fff,
      8rem 4rem 0 -0.02rem #fff,
      9rem 4rem 0 -0.02rem #fff,
      10rem 4rem 0 -0.02rem #000,
      11rem 4rem 0 -0.02rem #000,
      12rem 4rem 0 -0.02rem #000,
      13rem 4rem 0 -0.02rem #000,
      14rem 4rem 0 -0.02rem #000,
      15rem 4rem 0 -0.02rem pink,
      16rem 4rem 0 -0.02rem pink,
      17rem 4rem 0 -0.02rem #000,
      18rem 4rem 0 -0.02rem pink,
      19rem 4rem 0 -0.02rem pink,
      20rem 4rem 0 -0.02rem #000,
      21rem 4rem 0 -0.02rem pink,
      22rem 4rem 0 -0.02rem pink,
      23rem 4rem 0 -0.02rem pink,
      24rem 4rem 0 -0.02rem #000,
      
      /* row5 */
      3rem 5rem 0 -0.02rem #000,
      4rem 5rem 0 -0.02rem #fff,
      5rem 5rem 0 -0.02rem #fff,
      6rem 5rem 0 -0.02rem #fff,
      7rem 5rem 0 -0.02rem #fff,
      8rem 5rem 0 -0.02rem #fff,
      9rem 5rem 0 -0.02rem #fff,
      10rem 5rem 0 -0.02rem #fff,
      11rem 5rem 0 -0.02rem #fff,
      12rem 5rem 0 -0.02rem #fff,
      13rem 5rem 0 -0.02rem #fff,
      14rem 5rem 0 -0.02rem #000,
      15rem 5rem 0 -0.02rem pink,
      16rem 5rem 0 -0.02rem pink,
      17rem 5rem 0 -0.02rem #000,
      18rem 5rem 0 -0.02rem pink,
      19rem 5rem 0 -0.02rem pink,
      20rem 5rem 0 -0.02rem #000,
      21rem 5rem 0 -0.02rem pink,
      22rem 5rem 0 -0.02rem pink,
      23rem 5rem 0 -0.02rem pink,
      24rem 5rem 0 -0.02rem #000,
      
      /* row6 */
      3rem 6rem 0 -0.02rem #000,
      4rem 6rem 0 -0.02rem #fff,
      5rem 6rem 0 -0.02rem #fff,
      6rem 6rem 0 -0.02rem #fff,
      7rem 6rem 0 -0.02rem #fff,
      8rem 6rem 0 -0.02rem #fff,
      9rem 6rem 0 -0.02rem #fff,
      10rem 6rem 0 -0.02rem #fff,
      11rem 6rem 0 -0.02rem #fff,
      12rem 6rem 0 -0.02rem #fff,
      13rem 6rem 0 -0.02rem #fff,
      14rem 6rem 0 -0.02rem #fff,
      15rem 6rem 0 -0.02rem #000,
      16rem 6rem 0 -0.02rem #000,
      17rem 6rem 0 -0.02rem #000,
      18rem 6rem 0 -0.02rem #000,
      19rem 6rem 0 -0.02rem pink,
      20rem 6rem 0 -0.02rem #000,
      21rem 6rem 0 -0.02rem pink,
      22rem 6rem 0 -0.02rem pink,
      23rem 6rem 0 -0.02rem pink,
      24rem 6rem 0 -0.02rem #000,
      
      /* row7 */
      4rem 7rem 0 -0.02rem #000,
      5rem 7rem 0 -0.02rem #000,
      6rem 7rem 0 -0.02rem #fff,
      7rem 7rem 0 -0.02rem #fff,
      8rem 7rem 0 -0.02rem #fff,
      9rem 7rem 0 -0.02rem #fff,
      10rem 7rem 0 -0.02rem #fff,
      11rem 7rem 0 -0.02rem #fff,
      12rem 7rem 0 -0.02rem #fff,
      13rem 7rem 0 -0.02rem #fff,
      14rem 7rem 0 -0.02rem #fff,
      15rem 7rem 0 -0.02rem #fff,
      16rem 7rem 0 -0.02rem #fff,
      17rem 7rem 0 -0.02rem #fff,
      18rem 7rem 0 -0.02rem #fff,
      19rem 7rem 0 -0.02rem #000,
      20rem 7rem 0 -0.02rem #000,
      21rem 7rem 0 -0.02rem pink,
      22rem 7rem 0 -0.02rem pink,
      23rem 7rem 0 -0.02rem pink,
      24rem 7rem 0 -0.02rem #000,
      
      /* row8 */
      4rem 8rem 0 -0.02rem #000,
      5rem 8rem 0 -0.02rem #fff,
      6rem 8rem 0 -0.02rem #fff,
      7rem 8rem 0 -0.02rem #fff,
      8rem 8rem 0 -0.02rem #fff,
      9rem 8rem 0 -0.02rem #fff,
      10rem 8rem 0 -0.02rem #fff,
      11rem 8rem 0 -0.02rem #fff,
      12rem 8rem 0 -0.02rem #fff,
      13rem 8rem 0 -0.02rem #fff,
      14rem 8rem 0 -0.02rem #fff,
      15rem 8rem 0 -0.02rem #fff,
      16rem 8rem 0 -0.02rem #fff,
      17rem 8rem 0 -0.02rem #fff,
      18rem 8rem 0 -0.02rem #fff,
      19rem 8rem 0 -0.02rem #fff,
      20rem 8rem 0 -0.02rem #fff,
      21rem 8rem 0 -0.02rem #000,
      22rem 8rem 0 -0.02rem #000,
      23rem 8rem 0 -0.02rem #000,
      
      /* row9 */
      4rem 9rem 0 -0.02rem #000,
      5rem 9rem 0 -0.02rem #fff,
      6rem 9rem 0 -0.02rem #fff,
      7rem 9rem 0 -0.02rem #fff,
      8rem 9rem 0 -0.02rem #fff,
      9rem 9rem 0 -0.02rem #fff,
      10rem 9rem 0 -0.02rem #fff,
      11rem 9rem 0 -0.02rem #fff,
      12rem 9rem 0 -0.02rem #fff,
      13rem 9rem 0 -0.02rem #fff,
      14rem 9rem 0 -0.02rem #fff,
      15rem 9rem 0 -0.02rem #fff,
      16rem 9rem 0 -0.02rem #fff,
      17rem 9rem 0 -0.02rem #fff,
      18rem 9rem 0 -0.02rem #fff,
      19rem 9rem 0 -0.02rem #fff,
      20rem 9rem 0 -0.02rem #fff,
      21rem 9rem 0 -0.02rem #fff,
      22rem 9rem 0 -0.02rem #fff,
      23rem 9rem 0 -0.02rem #000,
      
      /* row10 */
      3rem 10rem 0 -0.02rem #000,
      4rem 10rem 0 -0.02rem #fff,
      5rem 10rem 0 -0.02rem #fff,
      6rem 10rem 0 -0.02rem #fff,
      7rem 10rem 0 -0.02rem #fff,
      8rem 10rem 0 -0.02rem #fff,
      9rem 10rem 0 -0.02rem #fff,
      10rem 10rem 0 -0.02rem #fff,
      11rem 10rem 0 -0.02rem #fff,
      12rem 10rem 0 -0.02rem #fff,
      13rem 10rem 0 -0.02rem #fff,
      14rem 10rem 0 -0.02rem #fff,
      15rem 10rem 0 -0.02rem #fff,
      16rem 10rem 0 -0.02rem #fff,
      17rem 10rem 0 -0.02rem #fff,
      18rem 10rem 0 -0.02rem #fff,
      19rem 10rem 0 -0.02rem #fff,
      20rem 10rem 0 -0.02rem #fff,
      21rem 10rem 0 -0.02rem #fff,
      22rem 10rem 0 -0.02rem #fff,
      23rem 10rem 0 -0.02rem #000,
      
      /* row11 */
      3rem 11rem 0 -0.02rem #000,
      4rem 11rem 0 -0.02rem #fff,
      5rem 11rem 0 -0.02rem #fff,
      6rem 11rem 0 -0.02rem #fff,
      7rem 11rem 0 -0.02rem #fff,
      8rem 11rem 0 -0.02rem #fff,
      9rem 11rem 0 -0.02rem #fff,
      10rem 11rem 0 -0.02rem #fff,
      11rem 11rem 0 -0.02rem #fff,
      12rem 11rem 0 -0.02rem #fff,
      13rem 11rem 0 -0.02rem #fff,
      14rem 11rem 0 -0.02rem #fff,
      15rem 11rem 0 -0.02rem #fff,
      16rem 11rem 0 -0.02rem #fff,
      17rem 11rem 0 -0.02rem #fff,
      18rem 11rem 0 -0.02rem #fff,
      19rem 11rem 0 -0.02rem #fff,
      20rem 11rem 0 -0.02rem #fff,
      21rem 11rem 0 -0.02rem #fff,
      22rem 11rem 0 -0.02rem #fff,
      23rem 11rem 0 -0.02rem #fff,
      24rem 11rem 0 -0.02rem #000,
      
      /* row12 */
      1rem 12rem 0 -0.02rem #000,
      2rem 12rem 0 -0.02rem #000,
      3rem 12rem 0 -0.02rem #000,
      4rem 12rem 0 -0.02rem #000,
      5rem 12rem 0 -0.02rem #fff,
      6rem 12rem 0 -0.02rem #fff,
      7rem 12rem 0 -0.02rem #fff,
      8rem 12rem 0 -0.02rem #000,
      9rem 12rem 0 -0.02rem #000,
      10rem 12rem 0 -0.02rem #fff,
      11rem 12rem 0 -0.02rem #fff,
      12rem 12rem 0 -0.02rem #fff,
      13rem 12rem 0 -0.02rem #fff,
      14rem 12rem 0 -0.02rem #fff,
      15rem 12rem 0 -0.02rem #fff,
      16rem 12rem 0 -0.02rem #fff,
      17rem 12rem 0 -0.02rem #fff,
      18rem 12rem 0 -0.02rem #000,
      19rem 12rem 0 -0.02rem #000,
      20rem 12rem 0 -0.02rem #fff,
      21rem 12rem 0 -0.02rem #fff,
      22rem 12rem 0 -0.02rem #fff,
      23rem 12rem 0 -0.02rem #000,
      24rem 12rem 0 -0.02rem #000,
      25rem 12rem 0 -0.02rem #000,
      26rem 12rem 0 -0.02rem #000,
      
      /* row13 */
      3rem 13rem 0 -0.02rem #000,
      4rem 13rem 0 -0.02rem #fff,
      5rem 13rem 0 -0.02rem #fff,
      6rem 13rem 0 -0.02rem #fff,
      7rem 13rem 0 -0.02rem #fff,
      8rem 13rem 0 -0.02rem #000,
      9rem 13rem 0 -0.02rem #000,
      10rem 13rem 0 -0.02rem #fff,
      11rem 13rem 0 -0.02rem #fff,
      12rem 13rem 0 -0.02rem #fff,
      13rem 13rem 0 -0.02rem #fff,
      14rem 13rem 0 -0.02rem #fff,
      15rem 13rem 0 -0.02rem #fff,
      16rem 13rem 0 -0.02rem #fff,
      17rem 13rem 0 -0.02rem #fff,
      18rem 13rem 0 -0.02rem #000,
      19rem 13rem 0 -0.02rem #000,
      20rem 13rem 0 -0.02rem #fff,
      21rem 13rem 0 -0.02rem #fff,
      22rem 13rem 0 -0.02rem #fff,
      23rem 13rem 0 -0.02rem #fff,
      24rem 13rem 0 -0.02rem #000,
      
      /* row14 */
      3rem 14rem 0 -0.02rem #000,
      4rem 14rem 0 -0.02rem #fff,
      5rem 14rem 0 -0.02rem #000,
      6rem 14rem 0 -0.02rem #fff,
      7rem 14rem 0 -0.02rem #fff,
      8rem 14rem 0 -0.02rem #000,
      9rem 14rem 0 -0.02rem #000,
      10rem 14rem 0 -0.02rem #fff,
      11rem 14rem 0 -0.02rem #fff,
      12rem 14rem 0 -0.02rem #fff,
      13rem 14rem 0 -0.02rem #fff,
      14rem 14rem 0 -0.02rem #fff,
      15rem 14rem 0 -0.02rem #fff,
      16rem 14rem 0 -0.02rem #fff,
      17rem 14rem 0 -0.02rem #fff,
      18rem 14rem 0 -0.02rem #000,
      19rem 14rem 0 -0.02rem #000,
      20rem 14rem 0 -0.02rem #fff,
      21rem 14rem 0 -0.02rem #fff,
      22rem 14rem 0 -0.02rem #000,
      23rem 14rem 0 -0.02rem #fff,
      24rem 14rem 0 -0.02rem #000,
      
      /* row15 */
      3rem 15rem 0 -0.02rem #000,
      4rem 15rem 0 -0.02rem #000,
      5rem 15rem 0 -0.02rem #fff,
      6rem 15rem 0 -0.02rem #fff,
      7rem 15rem 0 -0.02rem #fff,
      8rem 15rem 0 -0.02rem #fff,
      9rem 15rem 0 -0.02rem #fff,
      10rem 15rem 0 -0.02rem #fff,
      11rem 15rem 0 -0.02rem #fff,
      12rem 15rem 0 -0.02rem #fff,
      13rem 15rem 0 -0.02rem gold,
      14rem 15rem 0 -0.02rem gold,
      15rem 15rem 0 -0.02rem #fff,
      16rem 15rem 0 -0.02rem #fff,
      17rem 15rem 0 -0.02rem #fff,
      18rem 15rem 0 -0.02rem #fff,
      19rem 15rem 0 -0.02rem #fff,
      20rem 15rem 0 -0.02rem #fff,
      21rem 15rem 0 -0.02rem #fff,
      22rem 15rem 0 -0.02rem #fff,
      23rem 15rem 0 -0.02rem #000,
      24rem 15rem 0 -0.02rem #000,
      
      /* row16 */
      2rem 16rem 0 -0.02rem #000,
      4rem 16rem 0 -0.02rem #000,
      5rem 16rem 0 -0.02rem #fff,
      6rem 16rem 0 -0.02rem #fff,
      7rem 16rem 0 -0.02rem #fff,
      8rem 16rem 0 -0.02rem #fff,
      9rem 16rem 0 -0.02rem #fff,
      10rem 16rem 0 -0.02rem #fff,
      11rem 16rem 0 -0.02rem #fff,
      12rem 16rem 0 -0.02rem #fff,
      13rem 16rem 0 -0.02rem #fff,
      14rem 16rem 0 -0.02rem #fff,
      15rem 16rem 0 -0.02rem #fff,
      16rem 16rem 0 -0.02rem #fff,
      17rem 16rem 0 -0.02rem #fff,
      18rem 16rem 0 -0.02rem #fff,
      19rem 16rem 0 -0.02rem #fff,
      20rem 16rem 0 -0.02rem #fff,
      21rem 16rem 0 -0.02rem #fff,
      22rem 16rem 0 -0.02rem #fff,
      23rem 16rem 0 -0.02rem #000,
      25rem 16rem 0 -0.02rem #000,
      
      /* row17 */
      5rem 17rem 0 -0.02rem #000,
      6rem 17rem 0 -0.02rem #fff,
      7rem 17rem 0 -0.02rem #fff,
      8rem 17rem 0 -0.02rem #fff,
      9rem 17rem 0 -0.02rem #fff,
      10rem 17rem 0 -0.02rem #fff,
      11rem 17rem 0 -0.02rem #fff,
      12rem 17rem 0 -0.02rem #fff,
      13rem 17rem 0 -0.02rem #fff,
      14rem 17rem 0 -0.02rem #fff,
      15rem 17rem 0 -0.02rem #fff,
      16rem 17rem 0 -0.02rem #fff,
      17rem 17rem 0 -0.02rem #fff,
      18rem 17rem 0 -0.02rem #fff,
      19rem 17rem 0 -0.02rem #fff,
      20rem 17rem 0 -0.02rem #fff,
      21rem 17rem 0 -0.02rem #fff,
      22rem 17rem 0 -0.02rem #000,
      
      /* row18 */
      4rem 18rem 0 -0.02rem #000,
      6rem 18rem 0 -0.02rem #000,
      7rem 18rem 0 -0.02rem #000,
      8rem 18rem 0 -0.02rem #fff,
      9rem 18rem 0 -0.02rem #fff,
      10rem 18rem 0 -0.02rem #fff,
      11rem 18rem 0 -0.02rem #fff,
      12rem 18rem 0 -0.02rem #fff,
      13rem 18rem 0 -0.02rem #fff,
      14rem 18rem 0 -0.02rem #fff,
      15rem 18rem 0 -0.02rem #fff,
      16rem 18rem 0 -0.02rem #fff,
      17rem 18rem 0 -0.02rem #fff,
      18rem 18rem 0 -0.02rem #fff,
      19rem 18rem 0 -0.02rem #fff,
      20rem 18rem 0 -0.02rem #000,
      21rem 18rem 0 -0.02rem #000,
      23rem 18rem 0 -0.02rem #000,
      
      /* row19 */
      3rem 19rem 0 -0.02rem #000,
      8rem 19rem 0 -0.02rem #000,
      9rem 19rem 0 -0.02rem #000,
      10rem 19rem 0 -0.02rem #000,
      11rem 19rem 0 -0.02rem #000,
      12rem 19rem 0 -0.02rem #000,
      13rem 19rem 0 -0.02rem #000,
      14rem 19rem 0 -0.02rem #000,
      15rem 19rem 0 -0.02rem #000,
      16rem 19rem 0 -0.02rem #000,
      17rem 19rem 0 -0.02rem #000,
      18rem 19rem 0 -0.02rem #000,
      19rem 19rem 0 -0.02rem #000,
      24rem 19rem 0 -0.02rem #000,
      
      /* row20 */
      8rem 20rem 0 -0.02rem #000,
      9rem 20rem 0 -0.02rem deeppink,
      10rem 20rem 0 -0.02rem #000,
      11rem 20rem 0 -0.02rem skyblue,
      12rem 20rem 0 -0.02rem #000,
      13rem 20rem 0 -0.02rem deeppink,
      14rem 20rem 0 -0.02rem deeppink,
      15rem 20rem 0 -0.02rem #000,
      16rem 20rem 0 -0.02rem skyblue,
      17rem 20rem 0 -0.02rem #000,
      18rem 20rem 0 -0.02rem deeppink,
      19rem 20rem 0 -0.02rem #000,
      
      /* row21 */
      7rem 21rem 0 -0.02rem #000,
      8rem 21rem 0 -0.02rem deeppink,
      9rem 21rem 0 -0.02rem #000,
      10rem 21rem 0 -0.02rem skyblue,
      11rem 21rem 0 -0.02rem gray,
      12rem 21rem 0 -0.02rem skyblue,
      13rem 21rem 0 -0.02rem skyblue,
      14rem 21rem 0 -0.02rem skyblue,
      15rem 21rem 0 -0.02rem skyblue,
      16rem 21rem 0 -0.02rem gray,
      17rem 21rem 0 -0.02rem skyblue,
      18rem 21rem 0 -0.02rem #000,
      19rem 21rem 0 -0.02rem deeppink,
      20rem 21rem 0 -0.02rem #000,
      
      /* row22 */
      6rem 22rem 0 -0.02rem #000,
      7rem 22rem 0 -0.02rem #fff,
      8rem 22rem 0 -0.02rem #fff,
      9rem 22rem 0 -0.02rem #000,
      10rem 22rem 0 -0.02rem skyblue,
      11rem 22rem 0 -0.02rem skyblue,
      12rem 22rem 0 -0.02rem skyblue,
      13rem 22rem 0 -0.02rem skyblue,
      14rem 22rem 0 -0.02rem skyblue,
      15rem 22rem 0 -0.02rem skyblue,
      16rem 22rem 0 -0.02rem skyblue,
      17rem 22rem 0 -0.02rem skyblue,
      18rem 22rem 0 -0.02rem #000,
      19rem 22rem 0 -0.02rem #fff,
      20rem 22rem 0 -0.02rem #fff,
      21rem 22rem 0 -0.02rem #000,
      
      /* row23 */
      6rem 23rem 0 -0.02rem #000,
      7rem 23rem 0 -0.02rem #fff,
      8rem 23rem 0 -0.02rem #000,
      9rem 23rem 0 -0.02rem skyblue,
      10rem 23rem 0 -0.02rem skyblue,
      11rem 23rem 0 -0.02rem skyblue,
      12rem 23rem 0 -0.02rem skyblue,
      13rem 23rem 0 -0.02rem skyblue,
      14rem 23rem 0 -0.02rem skyblue,
      15rem 23rem 0 -0.02rem skyblue,
      16rem 23rem 0 -0.02rem skyblue,
      17rem 23rem 0 -0.02rem skyblue,
      18rem 23rem 0 -0.02rem skyblue,
      19rem 23rem 0 -0.02rem #000,
      20rem 23rem 0 -0.02rem #fff,
      21rem 23rem 0 -0.02rem #000,
      
      /* row24 */
      7rem 24rem 0 -0.02rem #000,
      8rem 24rem 0 -0.02rem #000,
      9rem 24rem 0 -0.02rem #000,
      10rem 24rem 0 -0.02rem #000,
      11rem 24rem 0 -0.02rem skyblue,
      12rem 24rem 0 -0.02rem skyblue,
      13rem 24rem 0 -0.02rem skyblue,
      14rem 24rem 0 -0.02rem skyblue,
      15rem 24rem 0 -0.02rem skyblue,
      16rem 24rem 0 -0.02rem skyblue,
      17rem 24rem 0 -0.02rem #000,
      18rem 24rem 0 -0.02rem #000,
      19rem 24rem 0 -0.02rem #000,
      20rem 24rem 0 -0.02rem #000,
      
      /* row25 */
      7rem 25rem 0 -0.02rem #000,
      8rem 25rem 0 -0.02rem #fff,
      9rem 25rem 0 -0.02rem #fff,
      10rem 25rem 0 -0.02rem #fff,
      11rem 25rem 0 -0.02rem #000,
      12rem 25rem 0 -0.02rem skyblue,
      13rem 25rem 0 -0.02rem skyblue,
      14rem 25rem 0 -0.02rem skyblue,
      15rem 25rem 0 -0.02rem skyblue,
      16rem 25rem 0 -0.02rem #000,
      17rem 25rem 0 -0.02rem #fff,
      18rem 25rem 0 -0.02rem #fff,
      19rem 25rem 0 -0.02rem #fff,
      20rem 25rem 0 -0.02rem #000,
      
      /* row26 */
      7rem 26rem 0 -0.02rem #000,
      8rem 26rem 0 -0.02rem #fff,
      9rem 26rem 0 -0.02rem #fff,
      10rem 26rem 0 -0.02rem #fff,
      11rem 26rem 0 -0.02rem #fff,
      12rem 26rem 0 -0.02rem #000,
      13rem 26rem 0 -0.02rem #000,
      14rem 26rem 0 -0.02rem #000,
      15rem 26rem 0 -0.02rem #000,
      16rem 26rem 0 -0.02rem #fff,
      17rem 26rem 0 -0.02rem #fff,
      18rem 26rem 0 -0.02rem #fff,
      19rem 26rem 0 -0.02rem #fff,
      20rem 26rem 0 -0.02rem #000,
      
      /* row27 */
      8rem 27rem 0 -0.02rem #000,
      9rem 27rem 0 -0.02rem #fff,
      10rem 27rem 0 -0.02rem #fff,
      11rem 27rem 0 -0.02rem #fff,
      12rem 27rem 0 -0.02rem #000,
      15rem 27rem 0 -0.02rem #000,
      16rem 27rem 0 -0.02rem #fff,
      17rem 27rem 0 -0.02rem #fff,
      18rem 27rem 0 -0.02rem #fff,
      19rem 27rem 0 -0.02rem #000,
      
      /* row28 */
      9rem 28rem 0 -0.02rem #000,
      10rem 28em 0 -0.02rem #000,
      11rem 28em 0 -0.02rem #000,
      16rem 28em 0 -0.02rem #000,
      17rem 28em 0 -0.02rem #000,
      18rem 28em 0 -0.02rem #000;
}
